@font-face {
  font-family: coco;
  src: url(../font/coco.otf);
}

@font-face {
  font-family: lato-light;
  src: url(../font/lato/Lato-Light.ttf);
}

@font-face {
  font-family: lato;
  src: url(../font/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../font/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-italic;
  src: url(../font/lato/Lato-Italic.ttf);
}

#mobile_nav {
  display: none;
}

.blacky {
  color: #272a31;
}

.orange {
  color: #ec5242;
}

.grey {
  color: #d3d3d3;
}

.flex {
  display: flex;
}

.desktop_none {
  display: none;
}

.main_container {
  min-height: 100vh;
}

.nav_container {
  background-image: url("../img/header_background.jpg");
  background-size: 100%;
  max-height: 200vh;
  background-repeat: no-repeat;
}

.white_background {
  background-color: rgba(255, 255, 255, 0.9);
}

.desktop_nav {
  background-color: white;
  justify-content: space-between;
}

.desktop_nav_items {
  font-family: 'lato', sans-serif;
  margin-left: 60px;
  align-self: center;
}

#nav_item_right_margin {
  margin-right: 80px;
  border: #ec5242 solid 5px;
  padding: 15px;
  color: #ec5242;
}

.logo_desktop {
  margin-left: 60px;
  align-items: center;
}

.header_text {
  font-size: 35px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("../img/text_background.jpg");
  font-family: 'coco', sans-serif;
  padding-top: 100px;
  margin-right: 20px;
  margin-left: 10%;
}

#hello {
  font-family: 'coco', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.event_description {
  background-color: #f7f7f7;
  border: white solid 3px;
  width: 40%;
  margin-left: 10%;
}

.desktop_event {
  background-image: url("../img/Desktop-Background.png");
  padding-top: 30px;
  padding-bottom: 150px;
}

.date {
  font-family: 'coco', sans-serif;
  font-size: 25px;
  color: #545454;
  margin-left: 10%;
  margin-top: 15px;
}

.location {
  color: #545454;
  font-size: 19px;
  margin-left: 10%;
}

.main_program {
  background-image: url("../img/main_program_background.png");
  max-height: 200vh;
  padding-bottom: 130px;
}

#main_program_title {
  font-family: 'lato-bold', sans-serif;
  color: white;
  padding-top: 25px;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}

.border_title_bottom {
  margin-top: 12px;
  border-bottom: rgba(236, 82, 66, 0.7) 2px solid;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.program_details {
  font-family: 'coco', sans-serif;
  background-color: rgba(145, 145, 145, 0.2);
  margin: 20px 2px;
  padding: 15px 0 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 14.2%;
}

.program_details_text {
  font-family: 'lato', sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.fas {
  color: white;
}

.program_icons {
  margin-bottom: 15px;
  font-size: 25px;
}

.join_button {
  font-family: 'lato-bold', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #ec5242;
  width: 50%;
  border: white 2px solid;
  margin-left: 25%;
  text-decoration: none;
  padding: 15px;
}

.join_button:hover {
  background-color: white;
  color: #ec5242;
}

.join_button:active {
  background-color: rgb(255, 196, 0);
}

.desktop_program {
  display: flex;
  justify-content: center;
}

.see_the_program {
  text-align: center;
  font-family: 'lato', sans-serif;
  margin-top: 65px;
}

.see_the_program > a {
  color: white;
}

#speakers_title {
  justify-content: center;
  margin-top: 15px;
  font-family: 'lato-bold', sans-serif;
}

.speaker {
  margin-top: 10px;
}

.speaker_text {
  font-size: 12px;
  margin-left: 15px;
}

.speaker_name {
  font-family: 'coco', sans-serif;
}

.speaker_who {
  font-family: 'lato-italic', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}

.speaker1 { grid-area: 1 / 1 / 2 / 2; }
.speaker2 { grid-area: 1 / 2 / 2 / 3; }
.speaker3 { grid-area: 2 / 1 / 3 / 2; }
.speaker4 { grid-area: 2 / 2 / 3 / 3; }
.speaker5 { grid-area: 3 / 1 / 4 / 2; }
.speaker6 { grid-area: 3 / 2 / 4 / 3; }

.right_margin {
  margin-right: 100px;
}

.left_margin {
  margin-left: 100px;
}

.desktop_partner {
  color: #d3d3d3;
  font-family: 'coco', sans-serif;
  padding-top: 15px;
  text-align: center;
}

.desktop_footer {
  background-color: #424146;
}

.footer_images {
  width: 150px;
  height: 80px;
}

.google {
  width: 200px;
}

.apple {
  height: 150px;
  margin-top: -50px;
}

.footer_images_row {
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-top: 25px;
}

.desktop_footer_end {
  background-color: white;
  justify-content: space-around;
  margin-top: 25px;
  font-family: 'lato', sans-serif;
}
